<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="oem_heading_sensor" params="name:=heading">
    <link name="${namespace}/${name}">
      <inertial>
        <mass value="0.5"/>
        <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
      </inertial>
    </link>
    <joint name="${namespace}/${name}_joint" type="fixed">
      <parent link="${namespace}/motion_sensor"/>
      <child link="${namespace}/${name}"/>
    </joint>
  </xacro:macro>
</robot>
