<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="pano_array" params="name x:=0.0 y:=0 z:=0.0 R:=0 P:=0 Y:=0">
    
    <link name="${namespace}/${name}">
      <visual name="${name}_base_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://ben_description/models/meshes/panoramic_camera_housing.dae"/>
        </geometry>
      </visual>
      <collision name="${name}_collision">
        <origin xyz="0 0 0.05" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.15" length="0.1"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.01"/>
        <inertia
          ixx="0.0001"
          iyy="0.0001"
          izz="0.0001"
          ixy="0"
          ixz="0"
          iyz="0"/>
      </inertial>
    </link>

    <joint name="${namespace}/base_link_to_${name}_joint" type="fixed">
      <origin xyz="${x} ${y} ${z}" rpy="${R} ${P} ${Y}" />
      <parent link="${namespace}/base_link" />
      <child link="${namespace}/${name}" />
    </joint>

    <xacro:include filename="$(find ben_description)/urdf/sensors/pano_camera.xacro" />

    <xacro:macro name="loop" params="i">
      <xacro:pano_camera name="${name}" number="${i+1}" x="0.08" z="0.05" Y="${-radians(i*60)}" />
      <xacro:if value="${i}">
        <xacro:loop i="${i-1}" />
      </xacro:if>
    </xacro:macro>

    <xacro:loop i="5" />

  </xacro:macro>
</robot>
